<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body class="broaden">
<div id="admin" class="container">
    <var-popup position="left" v-model:show="List">
        <div class="popup">
            <var-tabs
                    style="--tabs-background:rgba(0,0,0,0.8);"
                    class="popup-body"
                    inactive-color="rgb(255, 255, 255, 0.7)"
                    layout-direction="vertical"
                    v-model:active="show">
                <var-tab name="0" style="--tab-font-size:2rem" >系统状态</var-tab>
                <var-tab name="1" style="--tab-font-size:2rem" >用户管理</var-tab>
                <var-tab name="2" style="--tab-font-size:2rem" >商品管理</var-tab>
                <var-tab name="3" style="--tab-font-size:2rem" >订单管理</var-tab>
                <var-tab name="4" style="--tab-font-size:2rem" >评论管理</var-tab>
                <var-tab name="5" style="--tab-font-size:2rem" @click="logout">登出</var-tab>
                <var-tab name="6" style="--tab-font-size:2rem" @click="about">关于</var-tab>
                <var-tab :disabled="true"></var-tab>
                <var-tab :disabled="true"></var-tab>
                <var-tab :disabled="true"></var-tab>
                <var-tab :disabled="true"></var-tab>
            </var-tabs>
        </div>
    </var-popup>
    <success v-model:show="SuccessText"></success>
    <error v-model:show="ErrorText" :code="code" :message="message"></error>

    <div v-if="show == 0" class="all">
        <div class="left Padding BST"></div>
        <div class="left Main">
            <div style="float: left;padding: 1.5rem 0 1.5rem 0.5rem">
                <var-button text class="BST" @click="List=true"><var-icon name="menu"/></var-button>
            </div>
            <div class="title"><h3 style="letter-spacing:0.8rem">用户管理</h3></div>
            <div style="width: 73rem;height: 3rem;padding: 0.5rem">
                <var-button text class="left" style="height: 3rem" @click="addUser"><var-icon name="plus"/></var-button>
                <var-input style="float: left;width: 21.5rem;margin: 0 0 0 1rem;
                           --input-input-height: 2rem;--field-decorator-blur-color:#fff8;--field-decorator-line-size: 0.15rem;
                           --field-decorator-text-color:#fff"
                           variant="outlined" size="small" placeholder="姓名" v-model="UsersName"></var-input>
                <role-select style="margin: 0 1rem"></role-select>
                <var-button text class="left" style="height: 3rem" @click="selectUser"><var-icon name="magnify"/></var-button>
                <var-button text class="right" style="height: 3rem" @click="deleteOrders"><var-icon name="delete" /></var-button>
            </div>
            <div class="tableBody">
                <user-table-head style="width: 73rem;background: #fff8"></user-table-head>
                <user-table-body class="scroll" style="width: 73rem;height: 31rem;background: #fff8" :users="users"></user-table-body>
            </div>
        </div>
        <div style="width: 17.5rem;height: 48.7rem;float: left;margin: 5rem 0 0 0;background: #0000"></div>
    </div>


    <div v-if="show == 1" class="all">
        <div class="left Padding BST"></div>
        <div class="left Main">
            <div style="float: left;padding: 1.5rem 0 1.5rem 0.5rem">
                <var-button text class="BST" @click="List=true"><var-icon name="menu"/></var-button>
            </div>
            <div class="title"><h3 style="letter-spacing:0.8rem">用户管理</h3></div>
            <div style="width: 73rem;height: 3rem;padding: 0.5rem">
                <var-button text class="left" style="height: 3rem" @click="addUser"><var-icon name="plus"/></var-button>
                <var-input style="float: left;width: 21.5rem;margin: 0 0 0 1rem;
                           --input-input-height: 2rem;--field-decorator-blur-color:#fff8;--field-decorator-line-size: 0.15rem;
                           --field-decorator-text-color:#fff"
                           variant="outlined" size="small" placeholder="姓名" v-model="UsersName"></var-input>
                <role-select style="margin: 0 1rem"></role-select>
                <var-button text class="left" style="height: 3rem" @click="selectUser"><var-icon name="magnify"/></var-button>
                <var-button text class="right" style="height: 3rem" @click="deleteUsers"><var-icon name="delete" /></var-button>
            </div>
            <div class="tableBody">
                <user-table-head style="width: 73rem;background: #fff8"></user-table-head>
                <user-table-body class="scroll" style="width: 73rem;height: 31rem;background: #fff8" :users="users"></user-table-body>
            </div>
        </div>
        <div style="width: 17.5rem;height: 48.7rem;float: left;margin: 5rem 0 0 0;background: #0000"></div>
    </div>


    <div v-if="show == 2" class="all">
        <div class="left Padding BST"></div>
        <div class="left Main">
            <div style="float: left;padding: 1.5rem 0 1.5rem 0.5rem">
                <var-button text class="BST" @click="List=true"><var-icon name="menu"/></var-button>
            </div>
            <div class="title"><h3 style="letter-spacing:0.8rem">商品管理</h3></div>
            <div style="width: 73rem;height: 3rem;padding: 0.5rem">
                <var-button text class="left" style="height: 3rem" @click="addProduct"><var-icon name="plus"/></var-button>
                <var-input style="float: left;width: 21.5rem;margin: 0 1rem;
                           --input-input-height: 2rem;--field-decorator-blur-color:#fff8;--field-decorator-line-size: 0.15rem;
                           --field-decorator-text-color:#fff"
                           variant="outlined" size="small" placeholder="商品名" v-model="ProductName"></var-input>
                <var-button text class="left" style="height: 3rem" @click="selectProduct"><var-icon name="magnify"/></var-button>
                <var-button text class="right" style="height: 3rem" @click="deleteProducts"><var-icon name="delete" /></var-button>
            </div>
            <div class="tableBody">
                <product-table-head style="width: 73rem;background: #fff8"></product-table-head>
                <product-table-body class="scroll" style="width: 73rem;height: 31rem;background: #fff8" :products="products"></product-table-body>
            </div>
        </div>
        <div style="width: 17.5rem;height: 48.7rem;float: left;margin: 5rem 0 0 0;background: #0000"></div>
    </div>


    <div v-if="show == 3" class="all">
        <div class="left Padding BST"></div>
        <div class="left Main">
            <div style="float: left;padding: 1.5rem 0 1.5rem 0.5rem">
                <var-button text class="BST" @click="List=true"><var-icon name="menu"/></var-button>
            </div>
            <div class="title"><h3 style="letter-spacing:0.8rem">订单管理</h3></div>
            <div style="width: 73rem;height: 3rem;padding: 0.5rem">
                <var-button text disabled class="left" style="height: 3rem"><var-icon name="plus"/></var-button>
                <state-select style="margin: 0 1rem"></state-select>
                <var-button text class="left" style="height: 3rem" @click="selectOrder"><var-icon name="magnify"/></var-button>
                <var-button text class="right" style="height: 3rem" @click="deleteOrders"><var-icon name="delete" /></var-button>
            </div>
            <div class="tableBody">
                <order-table-head style="width: 73rem;background: #fff8"></order-table-head>
                <order-table-body class="scroll" style="width: 73rem;height: 31rem;background: #fff8" :orders="orders"></order-table-body>
            </div>
        </div>
        <div style="width: 17.5rem;height: 48.7rem;float: left;margin: 5rem 0 0 0;background: #0000"></div>
    </div>


    <div v-if="show == 4" class="all">
        <div class="left Padding BST"></div>
        <div class="left Main">
            <div style="float: left;padding: 1.5rem 0 1.5rem 0.5rem">
                <var-button text class="BST" @click="List=true"><var-icon name="menu"/></var-button>
            </div>
            <div class="title"><h3 style="letter-spacing:0.8rem">评论管理</h3></div>
            <div style="width: 73rem;height: 3rem;padding: 0.5rem">
                <var-button text disabled class="left" style="height: 3rem"><var-icon name="plus"/></var-button>
                <state-select style="margin: 0 1rem"></state-select>
                <var-button text class="left" style="height: 3rem" @click="selectReview"><var-icon name="magnify"/></var-button>
                <var-button text class="right" style="height: 3rem" @click="deleteReviews"><var-icon name="delete" /></var-button>
            </div>
            <div class="tableBody">
                <review-table-head style="width: 73rem;background: #fff8"></review-table-head>
                <review-table-body class="scroll" style="width: 73rem;height: 31rem;background: #fff8" :reviews="review"></review-table-body>
            </div>
        </div>
        <div style="width: 17.5rem;height: 48.7rem;float: left;margin: 5rem 0 0 0;background: #0000"></div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="css/admin.css">
<link rel="stylesheet" type="text/css" href="css/general.css">

<link rel="stylesheet" type="text/css" href="css/jquery-confirm-min.css">
<script src="js/jquery-1.9.1-min.js"></script>
<script src="js/jquery.cookie-1.4.1-min.js"></script>
<script src="js/jquery-confirm-min.js"></script>
<script src="js/vue-3.3.4-global-min.js"></script>
<script src="js/utils.js"></script>
<script src="js/api.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- 桌面端兼容 -->
<script src="https://cdn.jsdelivr.net/npm/@varlet/touch-emulator/iife.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@varlet/ui/umd/varlet.js"></script>
<script>
    var baseURL = API.baseURL = $.cookie("baseURL")
    var { createApp } = Vue;
    var app;
    var container = createApp({
        data() {
            return {
                "show": 0,
                "List": false,
                "users": API.getUser(null,null,null,null).users,
                "UsersName": "",
                "Role": "",
                "SelectUIDs": [],

                "products": API.getProduct(null,null,null,null).products,
                "ProductName": "",
                "SelectPIDs": [],

                "orders":API.getOrder(null,null).orders,
                "OrderState": "",
                "SelectOIDs": [],

                "reviews": API.getReview(null,null).reviews,
                "SelectRIDs": [],

                "SuccessText": false,
                "ErrorText": false,
                "code": 100,
                "message": "aaa"
            }
        },
        methods: {
            test() {
                this.ErrorText=true;
            },

            addUser() {},
            selectUser() {},
            getUserDetail(uid) {},
            updateUser(uid) {},
            deleteUsers() {},
            deleteUser(uid) {},

            addProduct() {},
            selectProduct() {},
            getProductDetail(pid) {},
            updateProduct(pid) {},
            deleteProducts() {},
            deleteProduct(pid) {},

            selectOrder() {},
            getOrderDetail(oid) {},
            updateOrder(oid) {},
            deleteOrders() {},
            deleteOrder(oid) {},

            selectReview() {},
            getReviewDetail(rid) {},
            updateReview(rid) {},
            deleteReviews() {},
            deleteReview(rid) {},

            img(image) {
                return "img/"+image;
            },
            logout() {
                $.ajax({
                    type: "POST",
                    url: baseURL + "to_logout",
                    // 阻塞线程避免登出数据与
                    // 访问根的请求到达次序不同
                    async: false
                });
                var keys = document.cookie.match(/[^ =;]+(?=\=)/g);
                if (keys) {
                    for (var i = keys.length; i--;)
                        document.cookie = keys[i] + '=0;expires=' + new Date(0).toUTCString() + ";path=/;";
                }
                sessionStorage.clear();
                window.location.href = baseURL;
            },
            about() {},
        },
        watch: {
            UsersName(newUsersName,oldUsersName) {
                this.users=API.getUser(null,newUsersName,this.Role,null).users
            },
            Role(newRole,oldRole) {
                this.users=API.getUser(null,this.UsersName,newRole,null).users
            },
            ProductName(newProductName,oldProductName) {

            },
            OrderState(newOrderState,oldOrderState) {

            },
        },
        mounted() {
            app=this;
        },
        components: {
            "RoleSelect": {
                template:
                    "      <var-select style='float: left;width: 21.5rem;--select-scroller-background:#0000;" +
                    "                  --field-decorator-outlined-small-padding-top:0.7rem;--field-decorator-outlined-small-padding-bottom:0.7rem;" +
                    "                  --field-decorator-blur-color:#fff8;--field-decorator-line-size: 0.15rem;--field-decorator-text-color:#fff'" +
                    "                  variant='outlined' size='small' placeholder='身份' v-model='role'>" +
                    "        <var-option style='--option-height:2rem' @click='res(\"\")'    label='' value='' />" +
                    "        <var-option style='--option-height:2rem' @click='res(\"buyer\")' label='用户' value='buyer' />" +
                    "        <var-option style='--option-height:2rem' @click='res(\"shop\")' label='商家' value='shop'/>" +
                    "        <var-option style='--option-height:2rem' @click='res(\"delivery\")' label='骑手' value='delivery'/>" +
                    "        <var-option style='--option-height:2rem' @click='res(\"admin\")' label='管理员' value='admin'/>" +
                    "      </var-select>",
                data() {
                    return{
                        "role": "",
                    }
                },
                methods: {
                    res(data) {
                        app.Role=data
                    }
                },
                // watch: {
                //     role(newrole,oldrole) {
                //         app.role=newrole;
                //     }
                // }
            },
            "UserTableHead": {
                template:
                    "<var-table>" +
                    "    <thead>" +
                    "      <tr>" +
                    "        <th style='text-align: center;width: 3.5rem'><var-checkbox></var-checkbox></th>" +
                    "        <th style='text-align: center;width: 50rem'>编号</th>" +
                    "        <th style='text-align: center;width: 50rem'>用户名</th>" +
                    "        <th style='text-align: center;width: 50rem'>身份</th>" +
                    "        <th style='text-align: center;width: 50rem'>姓名</th>" +
                    "        <th style='text-align: center;width: 50rem'>详细信息</th>" +
                    "        <th style='text-align: center;width: 50rem'>操作</th>" +
                    "        <th style='text-align: center;width: 50rem'>删除</th>" +
                    "      </tr>" +
                    "    </thead>" +
                    "</var-table>"
            },
            "UserTableBody": {
                props: ["users"],
                template:
                    "<var-table>" +
                    "<var-checkbox-group ref='users' v-model='SelectUIDs'>"+
                    "    <tbody v-for='item in users' :key='item.uid'>" +
                    "      <tr>" +
                    "        <td style='text-align: center;width: 3.5rem'><var-checkbox :checked-value='item.uid'></var-checkbox></td>" +
                    "        <td style='text-align: center;width: 50rem;word-break: break-all'>{{ item.uid }}</td>" +
                    "        <td style='text-align: center;width: 55rem;word-break: break-all'>{{ item.username }}</td>" +
                    "        <td style='text-align: center;width: 50rem;word-break: break-all'>{{ item.role }}</td>" +
                    "        <td style='text-align: center;width: 55rem;word-break: break-all'>{{ item.name }}</td>" +
                    "        <td style='text-align: center;width: 35rem;word-break: break-all'><var-button text @click='getUserDetail(item.uid)'><var-icon name='view' /></var-button></td>" +
                    "        <td style='text-align: center;width: 35rem;word-break: break-all'><var-button text @click='updateUser(item.uid)'><var-icon name='cog' /></var-button></td>" +
                    "        <td style='text-align: center;width: 35rem;word-break: break-all'><var-button text @click='deleteUser(item.uid)'><var-icon name='delete' /></var-button></td>" +
                    "      </tr>" +
                    "    </tbody>" +
                    "</var-checkbox-group>" +
                    "</var-table>",
                data() {
                    return {
                        "SelectUIDs": [],
                    }
                },
                watch: {
                    SelectUIDs(newSelectUIDs,oldSelectUIDs) {
                        app.SelectUIDs=this.SelectUIDs.sort((a, b) => a - b);
                    },
                },
                methods: {
                    getUserDetail(uid) { app.getUserDetail(uid) },
                    updateUser(uid) { app.updateUser(uid) },
                    deleteUser(uid) { app.deleteUser(uid) },
                },
            },

            "ProductTableHead": {
                template:
                    "<var-table>" +
                    "    <thead>" +
                    "      <tr>" +
                    "        <th style='text-align: center;width: 3.5rem'><var-checkbox></var-checkbox></th>" +
                    "        <th style='text-align: center;width: 50rem'>编号</th>" +
                    "        <th style='text-align: center;width: 50rem'>商家编号</th>" +
                    "        <th style='text-align: center;width: 50rem'>商品名</th>" +
                    "        <th style='text-align: center;width: 30rem'>详细信息</th>" +
                    "        <th style='text-align: center;width: 30rem'>操作</th>" +
                    "        <th style='text-align: center;width: 30rem'>删除</th>" +
                    "      </tr>" +
                    "    </thead>" +
                    "</var-table>"
            },
            "ProductTableBody": {
                props: ["products"],
                template:
                    "<var-table>" +
                    "<var-checkbox-group ref='products' v-model='SelectPIDs'>"+
                    "    <tbody v-for='item in products' :key='item.pid'>" +
                    "      <tr>" +
                    "        <td style='text-align: center;width: 3.5rem'><var-checkbox :checked-value='item.pid'></var-checkbox></td>" +
                    "        <td style='text-align: center;width: 80rem;word-break: break-all'>{{ item.pid }}</td>" +
                    "        <td style='text-align: center;width: 80rem;word-break: break-all'>{{ item.uid }}</td>" +
                    "        <td style='text-align: center;width: 80rem;word-break: break-all'>{{ item.name }}</td>" +
                    "        <td style='text-align: center;width: 30rem;word-break: break-all'><var-button text @click='getProductDetail(item.pid)'><var-icon name='view' /></var-button></td>" +
                    "        <td style='text-align: center;width: 30rem;word-break: break-all'><var-button text @click='updateProduct(item.pid)'><var-icon name='cog' /></var-button></td>" +
                    "        <td style='text-align: center;width: 30rem;word-break: break-all'><var-button text @click='deleteProduct(item.pid)'><var-icon name='delete' /></var-button></td>" +
                    "      </tr>" +
                    "    </tbody>" +
                    "</var-checkbox-group>"+
                    "</var-table>",
                data() {
                    return {
                        "SelectPIDs": [],
                    }
                },
                watch: {
                    SelectPIDs(newSelectPIDs,oldSelectPIDs) {
                        app.SelectPIDs=this.SelectPIDs.sort((a, b) => a - b);
                    },
                },
                methods: {
                    getProductDetail(pid) { app.getProductDetail(pid) },
                    updateProduct(pid) { app.updateProduct(pid) },
                    deleteProduct(pid) { app.deleteProduct(pid) },
                },
            },
            
            "StateSelect": {
                template:
                    "      <var-select style='float: left;width: 21.5rem;--select-scroller-background:#0000;" +
                    "                  --field-decorator-outlined-small-padding-top:0.7rem;--field-decorator-outlined-small-padding-bottom:0.7rem;" +
                    "                  --field-decorator-blur-color:#fff8;--field-decorator-line-size: 0.15rem;--field-decorator-text-color:#fff'" +
                    "                  variant='outlined' size='small' placeholder='状态' v-model='OrderState'>" +
                    "        <var-option style='--option-height:2rem' @click='res(\"\")'    label='' value='' />" +
                    "        <var-option style='--option-height:2rem' @click='res(\"unpiad\")' label='未支付' value='unpaid' />" +
                    "        <var-option style='--option-height:2rem' @click='res(\"piad\")' label='已支付' value='piad'/>" +
                    "        <var-option style='--option-height:2rem' @click='res(\"received\")' label='已接收' value='received'/>" +
                    "        <var-option style='--option-height:2rem' @click='res(\"delivering\")' label='正配送' value='delivering'/>" +
                    "        <var-option style='--option-height:2rem' @click='res(\"finish\")' label='已完成' value='finish'/>" +
                    "        <var-option style='--option-height:2rem' @click='res(\"cancel\")' label='未完成' value='cancel'/>" +
                    "      </var-select>",
                data() {
                    return{
                        "OrderState": "",
                    }
                },
                methods: {
                    res(data) {
                        app.OrderState=data
                    }
                },
            },
            "OrderTableHead": {
                template:
                    "<var-table>" +
                    "    <thead>" +
                    "      <tr>" +
                    "        <th style='text-align: center;width: 3.5rem'><var-checkbox readonly></var-checkbox></th>" +
                    "        <th style='text-align: center;width: 50rem'>编号</th>" +
                    "        <th style='text-align: center;width: 50rem'>付款凭证</th>" +
                    "        <th style='text-align: center;width: 50rem'>交易状态</th>" +
                    "        <th style='text-align: center;width: 50rem'>时间</th>" +
                    "        <th style='text-align: center;width: 50rem'>详细信息</th>" +
                    "        <th style='text-align: center;width: 50rem'>操作</th>" +
                    "        <th style='text-align: center;width: 50rem'>删除</th>" +
                    "      </tr>" +
                    "    </thead>" +
                    "</var-table>"
            },
            "OrderTableBody": {
                props: ["orders"],
                template:
                    "<var-table>" +
                    "<var-checkbox-group ref='products' v-model='SelectPIDs'>"+
                    "    <tbody v-for='item in orders' :key='item.oid'>" +
                    "      <tr>" +
                    "        <td style='text-align: center;width: 3.5rem'><var-checkbox :checked-value='item.oid'></var-checkbox></td>" +
                    "        <td style='text-align: center;width: 50rem;word-break: break-all'>{{ item.oid }}</td>" +
                    "        <td style='text-align: center;width: 60rem;word-break: break-all'>{{ item.tid }}</td>" +
                    "        <td style='text-align: center;width: 50rem;word-break: break-all'>{{ item.state }}</td>" +
                    "        <td style='text-align: center;width: 50rem;word-break: break-all'>{{ item.date }}</td>" +
                    "        <td style='text-align: center;width: 35rem;word-break: break-all'><var-button text @click='getOrderDetail(item.oid)'><var-icon name='view' /></var-button></td>" +
                    "        <td style='text-align: center;width: 35rem;word-break: break-all'><var-button text @click='updateOrder(item.oid)'><var-icon name='cog' /></var-button></td>" +
                    "        <td style='text-align: center;width: 35rem;word-break: break-all'><var-button text @click='deleteOrder(item.oid)'><var-icon name='delete' /></var-button></td>" +
                    "      </tr>" +
                    "    </tbody>" +
                    "</var-checkbox-group>"+
                    "</var-table>",
                data() {
                    return {
                        "SelectOIDs": [],
                    }
                },
                watch: {
                    SelectOIDs(newSelectOIDs,oldSelectOIDs) {
                        app.SelectOIDs=this.SelectOIDs.sort((a, b) => a - b);
                    },
                },
                methods: {
                    getOrderDetail(oid) { app.getOrderDetail(oid) },
                    updateOrder(oid) { app.updateOrder(oid) },
                    deleteOrder(oid) { app.deleteOrder(oid) },
                },
            },

            "ReviewTableHead": {
                template:
                    "<var-table>" +
                    "    <thead>" +
                    "      <tr>" +
                    "        <th style='text-align: center;width: 3.5rem'><var-checkbox></var-checkbox></th>" +
                    "        <th style='text-align: center;width: 50rem'>编号</th>" +
                    "        <th style='text-align: center;width: 50rem'>订单</th>" +
                    "        <th style='text-align: center;width: 50rem'>用户</th>" +
                    "        <th style='text-align: center;width: 50rem'>评论</th>" +
                    "        <th style='text-align: center;width: 50rem'>详细信息</th>" +
                    "        <th style='text-align: center;width: 50rem'>操作</th>" +
                    "        <th style='text-align: center;width: 50rem'>删除</th>" +
                    "      </tr>" +
                    "    </thead>" +
                    "</var-table>"
            },
            "ReviewTableBody": {
                props: ["reviews"],
                template:
                    "<var-table>" +
                    "    <tbody v-for='item in reviews' :key='item.oid'>" +
                    "      <tr>" +
                    "        <td style='text-align: center;width: 3.5rem'><var-checkbox></var-checkbox></td>" +
                    "        <td style='text-align: center;width: 50rem;word-break: break-all'>{{ item.rid }}</td>" +
                    "        <td style='text-align: center;width: 65rem;word-break: break-all'>{{ item.oid }}</td>" +
                    "        <td style='text-align: center;width: 50rem;word-break: break-all'>{{ item.uid }}</td>" +
                    "        <td style='text-align: center;width: 65rem;word-break: break-all'>{{ item.detail }}</td>" +
                    "        <td style='text-align: center;width: 35rem;word-break: break-all'><var-button text @click='getReviewDetail(item.rid)'><var-icon name='view' /></var-button></td>" +
                    "        <td style='text-align: center;width: 35rem;word-break: break-all'><var-button text @click='updateReview(item.rid)'><var-icon name='cog' /></var-button></td>" +
                    "        <td style='text-align: center;width: 35rem;word-break: break-all'><var-button text @click='deleteReview(item.rid)'><var-icon name='delete' /></var-button></td>" +
                    "      </tr>" +
                    "    </tbody>" +
                    "  </var-table>",
                data() {
                    return {
                        "SelectRIDs": [],
                    }
                },
                watch: {
                    SelectRIDs(newSelectRIDs,oldSelectRIDs) {
                        app.SelectRIDs=this.SelectRIDs.sort((a, b) => a - b);
                    },
                },
                methods: {
                    getReviewDetail(rid) { app.getReviewDetail(rid) },
                    updateReview(rid) { app.updateReview(rid) },
                    deleteReview(rid) { app.deleteReview(rid) },
                },
            },

            "success": {
                template:
                    "        <var-popup :default-style='false'>" +
                    "          <var-result class='result' style='width: 28.5rem' type='success' title='成功' description='提交成功'>" +
                    "            <template #footer>" +
                    "              <div style='text-align: center'>" +
                    "                  <var-button type='success' @click='change'>知道了</var-button>" +
                    "              </div>" +
                    "            </template>" +
                    "          </var-result>" +
                    "        </var-popup>",
                methods: {
                    change() {
                        app.SuccessText=!app.SuccessText;
                    }
                }
            },
            "error": {
                props: ["code","message"],
                template:
                    "        <var-popup :default-style='false'>" +
                    "          <var-result class='result' style='width: 28.5rem' type='error' title='错误' description='提交失败'>" +
                    "            <template #footer>" +
                    "              <div style='text-align: center;margin: 0 0 2rem 0'>" +
                    "                  <h3>错误代码:{{ code }}&emsp;&emsp;&emsp;错误信息:{{ message }}</h3><br/>" +
                    "              </div>" +
                    "              <div style='text-align: center'>" +
                    "                  <var-button type='danger' @click='change'>知道了</var-button>" +
                    "              </div>" +
                    "            </template>" +
                    "          </var-result>" +
                    "        </var-popup>",
                methods: {
                    change() {
                        app.ErrorText=!app.ErrorText;
                    }
                }
            },
        }
    })
    container.use(Varlet).mount("#admin");
</script>
</body>
</html>