<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>彩色点缀(鼠标联线)</title>
    <link rel="stylesheet" type="text/css" href="css/general.css">

    <link rel="stylesheet" type="text/css" href="css/jquery-confirm-min.css">
    <script src="js/jquery-1.9.1-min.js"></script>
    <script src="js/jquery.cookie-1.4.1-min.js"></script>
    <script src="js/jquery-confirm-min.js"></script>
    <script src="js/vue-3.3.4-global-min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/api.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 桌面端兼容 -->
    <script src="https://cdn.jsdelivr.net/npm/@varlet/touch-emulator/iife.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@varlet/ui/umd/varlet.js"></script>
</head>
<body>
<style>
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
    }
    li{
        text-align: center;
        line-height: 60px;
        border-bottom: 1px solid red;
    }
    .scroll
    {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .scroll::-webkit-scrollbar
    {
        display: none;
    }
</style>
<div id="abcd" style="background: #9b59b6">
<!--    <div style="width:200px;height: 200px;overflow-y:scroll;" @scroll="handleScroll">-->
<!--        <ul>-->
<!--            <li :style="`transform:translateY(${offsetY}px);height:${itemH}px`" v-for="i in clist" :key="i">{{i}}</li>-->
<!--        </ul>-->
<!--    </div>-->
    <div class="scroll" style="width:200px;height: 500px" @scroll="handleScroll">
        <table :style='`transform:translateY(${offsetY}px)`'>
            <tbody style="height: 60px" v-for="item in clist" :key="item">
            <tr class="test">
                <td class="cell" style="width: 55rem">列1:<var-button text>按钮{{ item }}</var-button></td>
                <td style="text-align: center;width: 55rem;word-break: break-all">列2:{{ item }}</td>
            </tr>
            </tbody>
        </table>
    </div>
<!--    <div class="scroll" style="width:200px;height: 500px" @scroll="handleScroll">-->
<!--        <test-table :clist="clist" :offsetY="offsetY"></test-table>-->
<!--    </div>-->
</div>
<script>
    var lst=[];
    for(var index=0;index<1000;index++) {lst.push(index)}
    var { createApp } = Vue;
    var app;
    var container = createApp({
        data() {
            return {
                "list": [],
                "clist":[],
                "viewH":500,
                "itemH":60,
                "scrollH":'',
                "showNum":'',
                "offsetY":0,
                "lastTime":0,
            }
        },
        mounted() {
            app=this;
            this.list=lst;
            this.scrollH=this.list.length * this.itemH;
            this.showNum=Math.floor(this.viewH/this.itemH)+4;
            this.clist=this.list.slice(0,this.showNum);
            this.lastTime=new Date().getTime();
        },
        methods: {
            handleScroll(e) {
                if(new Date().getTime()-this.lastTime>10) {
                    var scrollTop=e.target.scrollTop;
                    this.offsetY=scrollTop-(scrollTop% this.itemH);
                    this.clist=this.list.slice(
                        Math.floor(scrollTop/this.itemH),
                        Math.floor(scrollTop/this.itemH)+this.showNum
                    )
                    // console.log(scrollTop,this.showNum,scrollTop/this.itemH+this.showNum,this.clist)
                    this.lastTime=new Date().getTime();
                }
            }
        },
        components: {
            "TestTable": {
                props: ["clist", "offsetY"],
                template:
                    "<table :style='`transform:translateY(${offsetY}px)`'>" +
                    "    <tbody style='height: 60px' v-for='item in clist' :key='item'>" +
                    "      <tr>" +
                    "        <td style='text-align: center;width: 50rem;word-break: break-all'>列1:{{ item }}</td>" +
                    "        <td style='text-align: center;width: 55rem;word-break: break-all'>列2:{{ item }}</td>" +
                    "      </tr>" +
                    "    </tbody>" +
                    "</table>",
            }
        }
    })
    container.use(Varlet).mount("#abcd");
</script>
</body>
</html>