.container
{
    display: block;
    width: 109.6rem;
    height: 53.7rem;
    background: white;
    background-size: 100% 100%;
    background: url("../img/background.png");
}
.Padding
{
    width: 17.5rem;
    height: 48.7rem;
    margin: 5rem 0 0 0;
}
.Body
{
    width: 74.6rem;
    height: 45rem;
    margin: 5rem 0 0 0;
    background: linear-gradient(45deg,#705fc588,#301c88);
}
.tableBody
{
    width: 73rem;
    height: 34.5rem;
    padding: 0.8rem;
}
.title {
    height: 5.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    width: 21.5rem;
}
.popup-body {
    top: 0;
    left: 0;
    position: fixed;
    width: 21.5rem !important;
    height: 100% !important;
}
.Main
{
    width: 74.6rem;
    height: 45rem;
    margin: 5rem 0 0 0;
    background: linear-gradient(45deg,#705fc588,#301c88);
    /*transform-style: preserve-3d;*/
    /*transition: all;*/
    /*transform: rotateX(15deg) rotateY(30deg);*/
}