html, body
{
    background: #fff; margin: 0; padding:0;
}
.container
{
    display: block;
    width: 109.6rem;
    height: 53.7rem;
    background: white;
    background-size: 100% 100%;
    background: url("../img/backgroup_two.jpeg");
}
.img-info
{
    width: 12rem;
    height: 12rem;
    margin:2rem 0 0 0;
    background: white;
    border-radius: 50%;
}
.input--block
{
    background: #0004;
    width: 40rem;
    margin: 2rem auto;
}
.button--block
{
    width: 12rem;
    margin: 0 2rem;
}
.Main
{
    width: 64.6rem;
    height: 48.7rem;
    background: #fff4;
}
.title
{
    width: 64rem;
    text-align: center;
    margin: 2rem 0;
}
.sign
{
    margin: 0 0 0 8rem;
}
.box
{
    width: 18.5rem;
    height: 22rem;
    float: left;
    margin: 2rem;
}
.box:hover
{
    box-shadow: 0.3rem 0.3rem 0.5rem 0 rgb(0,0,0,0.4);
    transition: 0.6s;
    transform: translate(0,-2rem);
}
.product--img
{
    width: 14.5rem;
    height: 12rem;
    margin: 1rem 2rem 0;
    padding: 0;
}
.Padding
{
    width: 9.8rem;
    height: 48.7rem;
    background: #0000;
}
.product--main
{
    width: 90rem;
    height: 48.7rem;
}
.product--bar
{
    height: 4rem;
    padding: 1rem 0;
    background: #0004
}
.product--bar--main
{
    width: 2rem;
    height: 2rem;
}