html, body
{
    background: #fff; margin: 0; padding:0;
}
.container
{
    display: block;
    width: 109.6rem;
    height: 53.7rem;
    background: white;
    background-size: 100% 100%;
    background: url("../img/backgroup_two.jpeg");
}
.img-info
{
    width: 12rem;
    height: 12rem;
    margin:2rem 0 0 0;
    background: white;
    border-radius: 50%;
}
.input--block
{
    background: #0004;
    width: 40rem;
    margin: 2rem auto;
}
.button--block
{
    width: 12rem;
    margin: 0 2rem;
}
.Main
{
    width: 64.6rem;
    height: 48.7rem;
    background: #fff4;
}
.title
{
    width: 64rem;
    text-align: center;
    margin: 2rem 0;
}
.sign
{
    margin: 0 0 0 8rem;
}