*{
    margin: 0;
    padding: 0;
}
html
{
    font-size: 14px;
}
.all
{
    width: 109.6rem;
    height: 48.7rem;
}
.BST {background: #0000;}
.left {float: left;}
.right {float: right;}
.scroll
{
    overflow-x: hidden;
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar
{
    display: none;
}
.table--cell
{
    text-align: center;
    width: 100rem;
    word-break: break-all;
}
.Top-Bar
{
    height: 5rem;
    width: 109.6rem;
    top: 0;
    background: linear-gradient(to right, aqua, white);
    position: sticky;
}
.Bar-Right
{
    padding: 10%;
    width: auto;
    float: right;
}
.Bar-Left
{
    padding: 10%;
    width: auto;
    float: left;
}


.cell
{
    text-align: center;
    word-break: break-all;
}
.test{
    background: #fff8;
}
.test:hover
{
    background: #fff;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
.change:hover
{
    background: #fff;
}
tbody tr:hover {
    background: #fff;
    transition: 0.5s;
}